@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Custom Flatpickr Theme to match JakaHealth */
.flatpickr-calendar {
  font-family: 'Inter', sans-serif !important;
  border: 1px solid #e2e8f0 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 1rem !important;
  box-sizing: border-box !important;
  width: auto !important;
  max-width: 320px !important;
  padding-bottom: 0.5rem !important;
}
.flatpickr-day.selected {
  background: #0b396b !important;
  border-color: #0b396b !important;
}
.flatpickr-day:hover {
  background: #f4f7fb !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-weight: 700 !important;
  color: #052349 !important;
}
.flatpickr-months {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0.5rem 0.5rem 0 0.5rem !important;
}
.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  height: 24px !important;
  padding: 0 10px !important;
}
.flatpickr-current-month {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  width: auto !important;
  left: auto !important;
  padding: 0 !important;
  height: 24px !important;
}
.numInputWrapper {
  width: auto !important;
}
.flatpickr-innerContainer {
  padding: 0 0.5rem !important;
}

.custom-year-select {
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23052349%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.2rem center;
  background-size: 0.65rem auto;
  padding-right: 1.2rem;
}

/* Remove arrows from number inputs globally */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
